* {
    font-family: sans-serif;
}

body {
    margin: 0%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: min-content 1fr;
}

.sidebar {
    background-color: rgb(9, 126, 194);
    color: rgb(224, 224, 224);
    grid-row: 1 / -1;
    /* display: grid;
    grid-template-rows: min-content min-content min-content; */
    /* display: flex;
    flex-direction: column; */
}

.sidebar>ul {
    list-style: none;
    font-weight: bolder;
    /* font-size: 2vh; */
}

.sidebar>.one {
    padding: 25px;
    padding-top: 0%;
}

.sidebar>.one>li {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.sidebar>.two {
    padding: 25px;
    padding-top: 0%;
}

.sidebar>.two>li {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.sidebar>.logo {
    font-weight: bolder;
    /* font-size: 3vh; */
    padding: 25px;
    font-size: 24px;
    font-weight: 910;
}

.content {
    display: grid;
    grid-template-columns: 6fr 2.2fr;
    background-color: #ebebebbd;
    /* justify-items: center; */
    /* align-content: space-evenly; */
    /* justify-content: space-between; */
}

.mainContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
        gap: 40px;
    padding: 25px;

}

.mainContent>h3 {
    grid-column: 1/-1;
    /* grid-template-columns: repeat(auto-fill, 200px) */
    /* justify-content:space-around; */
}

.contentBlocks {
    /* width: 350px; */
    height: 180px;
    padding: 25px;
    border-left-color: orange;
    border-left-width: 10px;
    border-style: solid;
    justify-content: center;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 10px;
    background-color: white;
    color: rgb(75, 73, 73);
}

.contentBlocks>h3 {
    color: black;
    padding-top: 0px;
    margin-bottom: 0px;
}
.contentBlocks>p {
    padding-top: 0px;
    margin-top: 0px;
}

.header>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header div>input {
    flex-grow: 1;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    background-color: rgb(81 86 227 / 15%);
    border-width: 0px;
    height: 30px;
}

.header div>h3 {
    margin-right: 70px;
    margin-left: 30px;
}

.header div>h2 {
    padding: 2px;

    flex-grow: 1;
}

.intro {
    flex-grow: 1;
    margin-left: 40px;
}

.intro>p {
    margin-bottom: 2px;
    font-weight: bold;
}

.intro>h2 {
    margin-top: 2px;
}

.header {
    grid-template-rows: min-content min-content;
    box-shadow: rgb(245, 187, 179);
}

.header div>button {
    border: none;
    font-size: 1rem;
    height: 41px;
    width: 90px;
    border-radius: 20px;
    color: white;
    background-color: rgb(9, 126, 194);
    font-weight: 975;
    margin: 20px;
}
.announcements{
   padding-top: 25px;
   padding-right: 25px;
}
.announcementsBlock{
    
    background-color: white;
    padding: 10px;
    border-radius: 30px;
}
.announcementsBlock>p{
    border-bottom: solid;
    border-width: 2px;
    border-color: #8080804d;
    
}